#mainMenuBackground {
    -fx-background-color: linear-gradient(Gray,LightGray); }

#mainMenuBackground {
    -fx-border-color: grey;
}

#mainMenuBackground {
    background-image: linear-gradient(LightGrey, White);
}